# Backend Configuration

# Port to run the backend server
PORT=5001

# MongoDB Atlas connection URI
MONGO_URI=mongodb+srv://programekdujekeliye_db_user:xSBKESML3bxquG7e@cluster0.dsixmq0.mongodb.net/ekdujekeliye?retryWrites=true&w=majority

# Administrative Passwords
ADMIN_PASSWORD=Manas@1177
SUPER_ADMIN_PASSWORD=Manish@1177
